.main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 500px;
    max-width: 800px;
}

.listItem {
    font-size: 1.3em;
    padding: 20px;
    width: 500px;
    margin: 10px auto;
}

.listItem_label {
    display: inline-block;
    width: 130px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.listItem_titleLink {
    width: 300px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    color: #337ab7;
}

.listItem_titleLink:hover {
    color: #23527c;
}

.studyMeetingMaintenance {
    padding: 30px;
}

.studyMeetingMaintenance_summary {
    resize: vertical;
    min-height: 600px;
    font-family: "ＭＳ　ゴシック", monospace;
}

.studyMeetingDetail {
    padding: 30px;
}

.studyMeetingDetail_label {
    border-bottom: 1px solid #ccc;
    display: block;
    padding-bottom: 10px;
}

.studyMeetingDetail_content {
    padding-left: 10px;
}

.studyMeetingMaintenance_switchPreview {
    color: #2fa4e7;
    cursor: pointer;
    margin-left: 15px;
}

.studyMeetingMaintenance_switchPreview:hover {
    color: #3a87ad;
}

.backTop_link {
    display: block;
    margin-top: 50px;
    font-size: 1.7em;
}

.studyMeetingMaintenance_title-error {
    margin-left: 10px;
}
