.main-block {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 500px;
    max-width: 800px;
}

.list-item {
    font-size: 1.3em;
    padding: 20px;
    width: 500px;
    margin: 10px auto;
}

.list-item label {
    display: inline-block;
    width: 130px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.list-item a {
    width: 300px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    color: #337ab7;
}

.list-item a:hover {
    color: #23527c;
}

.study-meeting-maintenance {
    padding: 30px;
}

.study-meeting-maintenance textarea {
    resize: vertical;
    min-height: 300px;
    font-family: "ＭＳ　ゴシック", monospace;
}

.study-meeting-detail {
    padding: 30px;
}

.study-meeting-detail label {
    border-bottom: 1px solid #ccc;
    display: block;
    padding-bottom: 10px;
}

.study-meeting-detail p {
    padding-left: 10px;
}

.back-top {
    display: block;
    margin-top: 50px;
    font-size: 1.7em;
}

.error-message {
    margin-left: 10px;
}

#switchPreview {
    color: #2fa4e7;
    cursor: pointer;
    margin-left: 15px;
}

#switchPreview:hover {
    color: #3a87ad;
}

